* {
  font-family: 'Roboto', sans-serif;
}

.InputField {
  margin: 10px;
  display: block;
  background: #deddf126;
  border-radius: 18px;
  padding: 15px;
  box-shadow: 6px 8px 8px -10px rgba(34, 60, 80, 0.2);

  &__Label {
    margin-bottom: 3px;
    font-weight: 700 !important;
    font-size: 30px !important;
  }
}
