.EstateCardList {
  display: flex;

  max-width: 1400px;

  &__Title {
    text-align: center;
  }

  &__GridContainer {
    display: grid !important;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 8px;
  }

  &__GridItem:nth-child(1) {
    grid-column: 1/3;
    grid-row: 1/3;
  }
}
