.Account {
  display: flex;
  flex-direction: column;
  margin: 10px;
  padding: 10px;

  max-width: 560px;
  min-height: 72px;

  background: #deddf126;
  border-radius: 18px;
  box-shadow: 6px 8px 8px -4px rgba(34, 60, 80, 0.2);

  button {
    width: 130px;
    margin-top: 10px;
  }
}
