:root {
  --app-min-height: 191px;
}

* {
  box-sizing: border-box;

  font-family: 'Roboto', sans-serif;
}

body {
  margin: 0;
}

.App {
  margin: 0;
  padding: 0;

  &__Title {
    font-size: 20px;
    text-align: center;

    color: #000;
  }

  &__MainContent {
    padding: 40px 40px;

    display: flex;
    flex-direction: column;

    min-height: calc(100vh - var(--app-min-height));

    .box {
      flex: 1 1 auto;
    }
  }
}
