:root {
  --search-width: 100%;
}

.Search {
  margin: 10px;
  padding: 10px;

  display: flex;
  flex-direction: row;
  justify-content: center;

  width: var(--search-width);
  min-height: 72px;

  background: #deddf126;
  border-radius: 18px;
  box-shadow: 6px 8px 8px -4px rgba(34, 60, 80, 0.2);
  flex-basis: 200px;

  &__formElement {
    padding: 10px;
  }

  &__formElementError {
    padding: 10px;

    border-bottom: 2px solid #f50057;
  }

  &__selectEmpty {
    margin-top: 10px;
  }
}
